.font-link {
    font-family: 'Quicksand', sans-serif;
}

.contents {
    /* position: absolute; */
    display: flex;
    transform: translate(16%, 11%);
    width: 78vw;
}

.bio {
    padding-right: 5em;
    margin-top: -4em;
}

.summary {
    margin-left: 45px;
}

.bio h2 {
    color: #faee4a;
    font-family: Roboto;
    font-style: italic;
}

.bio p {
    font-family: 'Quicksand';
    margin-top: -30px;
    margin-bottom: 48px;
}

.about-title {
    font-size: 5em;
}

.contents img {
    border-radius: 50%;
    width: 40vw;
    height: 40vh;
    margin-top: 5vh;

}

.languages {
    display: flex;
}

.languages, li {
    padding-right: 8%;
    list-style-type: none;
    display: inline-flex;
}

.lang-name {
    padding-left: 15px;
    font-family: Quicksand;
}

/* Button style */
.btn-container-a {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 68%;
    margin-top: 4.5%;
}

.btn-container-a a:hover::before{
    transform: scaleY(0);
}

.btn-container-a a::after{
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    /*100% plus double the times left values*/
    height: calc(100% + 10px);
    background-color: rgb(41, 213, 236);
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
}

.btn-container-a a:hover::after{
    transform: scaleX(0);
}

