.App {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #7CBED3;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

html, body {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

h1 {
  color: white
}

/* vertical styling */
.vl {
  border-left: 1px solid #6EFF3C;
  height: 85vh;
  /* height: 663px; */
  position: absolute;
  left: 58px;
  margin-left: -3px;
  top: 63px;
}

