.experience-contents {
    transform: translate(8%, 8%);
    display: block;
}

.experience-contents h1 {
    padding-left: 30vw;
    font-size: 4em;
}

.description{ 
    width: 50vw;
    padding-bottom: 1.5em;
    text-align: left;
}
.description li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.resume {
    table-layout: auto;
    width: 85%;
}

.company button{
    float: left;
    color: #02FFF0;
    background-color: #7CBED3;
    font-size: 1.5em;
    border: none;
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

.company button:hover{
    opacity: 1;
    background-color: lightskyblue;
}

td, th {
    padding-right: 0.5rem;
    border: 1px solid #999;
}