.experienceContainer{
    width: 70vw;
    height: 60vh;
    position: absolute;
    left: 57%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.e-title{
    text-align: center;
    font-size: 3.7em;
    padding-top: 3rem;
}

.tabList{
    position: relative;
    left: 40%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.tab {
    display: flex;
    align-items: center;
    color: yellow;
    font-style: italic;
    height: 5rem;
}

li{
    margin-bottom: 20px;
    text-align: justify;
}

.description h2{
    color: aqua;
}

/* Button style */
.btn-container-e {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 83%;
    margin-top: 9.7%;
    vertical-align:top;
	transform:rotate(7deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg); /* Opera */
}

.btn-container-e a:hover::before{
    transform: scaleY(0);
}

.btn-container-e a::after{
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    /*100% plus double the times left values*/
    height: calc(100% + 10px);
    background-color: rgb(41, 213, 236);
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
}

.btn-container-e a:hover::after{
    transform: scaleX(0);
}