.footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    padding-bottom: 1vh;
    border-top: 1px solid #6EFF3C;
    height: 8vh;
    width: auto;
}

.info--flexbox {
    display: flex;
    align-items: center;
    margin: 0 5em;
    float: right;
    height: 9.5vh;
}

.footer h2 {
    margin-right: 40px;
    float: left;
    color: #01F0FF;
}

hr {
    
	border-top: 1px solid #6EFF3C;
	border-bottom: 1px solid #6EFF3C;
}


