.footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    border-top: 1px solid #6EFF3C;
    height: 8vh;
    width: auto;
    z-index: 1;
    background-color: #7CBED3;
}

.info--flexbox {
    display: flex;
    align-items: center;
    margin: 0 1.5em;
    float: right;
    height: 9.5vh;
}

.footer h2 {
    margin-right: 3rem;
    float: left;
    color: #edff4a;
}

.github, .dev, .email, .linkedin{
    padding-right: 1rem;
}
