.info--flexbox {
    display: flex;
    align-items: center;
    margin: 0 9em;
    float: right;
}

h2 {
    margin-right: 40px;
    float: left;
}

hr {
	border-top: 1px solid #6EFF3C;
	border-bottom: 1px solid #6EFF3C;
}


