.hamburger {
    color: #6EFF3C;
    float: right;
}

header{
    padding: 30px;
    background-color: #7CBED3;
    height: 3vh;
    padding-top: 2vh;
}

.circle {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    float: left;
    position: relative;
    z-index: 2;
    /* top: 3px; */
}

.circle p {
    margin: auto;
    color: #6EFF3C;
    font-size: 1.4em;
}

.home-page-slider {
    position: inherit;
    /* bottom: 35px; */
    /* left: calc(50% - 135px); */
    float: right;
    /* width: 270px;
    height: 46px;
    z-index: 2; */
}

.home-page-slider ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 4px;
}

.home-page-slider li {
    color: white;
    padding-right: 1.5em;
    font-family: Roboto;
    font-style: oblique;
    font-size: 1.4em;
}



