.hamburger {
    color: #6EFF3C;
    float: right;
}

header{
    padding: 30px;
    background: #7CBED3;
    height: 30px;
}

.circle {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    float: left;
}

.circle p {
    margin: auto;
    color: #6EFF3C;
    font-size: 1.4em;
}