.intro {
    display: inherit;
}

.intro h1 {
    font-size: 18vh;
    position: relative;
    left: 25%;
    margin-top: 20vh;
}

.title {
    font-size: 4.5vh;
    color: #faee4a;
    position: relative;
    left: 50%;
    margin-top: -12vh;
}

.intro, h1, h2, h3 {
    font-family: Roboto;
    font-style: italic;
}

.intro h3 {
    text-align: center;
    margin-top: 30vh;
}

/* Button styling */
.btn-container {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 40%;
    margin-top: 8%;
}

.link {
    text-decoration: none;
    border: 2px solid #6EFF3C;
    padding: 5px;
    /* color: #000; */
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

.text {
    position: relative;
    /* z-index coz when we put bg to before and after this span text will not be visible */
    z-index: 1;
    color: yellow;
}

.btn-container a:hover::before{
    transform: scaleY(0);
}

.btn-container a::after{
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    /*100% plus double the times left values*/
    height: calc(100% + 10px);
    background-color: rgb(41, 213, 236);
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
}

.btn-container a:hover::after{
    transform: scaleX(0);
}


