.projects-title {
    text-align: center;
    font-size: 80px;
}

.projects-info-container{
    display: flex;
    transform: translate(10%, 8%);
}

.project-info {
    margin-left: 180px;
}
.project-info img {
    /* width: 20vw;
    height: 30vh; */
    width: 300px;
    height: 250px;
    border-radius: 10%;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
}

.image-modal h2 {
    text-align: center;
}


/* -----modal----------------------------------  */
.modalWrapper{
    height: 200px;
    width: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -56%;
    left: -26.55%;
}

.image-modal{
    cursor: pointer;
}

#close {
    cursor: pointer;
    position: absolute;
    background-color: none;
    top: 20px;
    right: -15px;
    width: 52px;
    height: 32px;
    padding: 0;
    z-index: 10;
}

.modalContent p{
    width: 400px;
}

.modalLinks{
    display: flex;   
}

.modalLinks a{
    margin-left: 15px;
}
